<section class="container">
  <form [formGroup]="passwordForm">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      placeholder="Enter password..."
      (input)="updateProgressBar()"
    />
    <div class="progress-bar-container">
      <div class="progress-segment" [ngStyle]="{'background-color': sectionColors[0]}"></div>
      <div class="progress-segment" [ngStyle]="{'background-color': sectionColors[1]}"></div>
      <div class="progress-segment" [ngStyle]="{'background-color': sectionColors[2]}"></div>
    </div>
    <span [ngStyle]="{'color': sectionColors[0], 'margin': '10px 0', 'font-size': '0.9em'}">{{ passwordForm.controls.password.errors?.['weakPassword'] | uppercase }}</span>
  </form>
</section>
